:root{

--principal:#163b74;

--secundario:#2f5fb8;

--fondo:#eef2f8;

--texto:#1d2939;

--gris:#667085;

--blanco:#ffffff;

--borde:#dfe5ee;

--guardar:#163b74;

--buscar:#2e8b57;

}

*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:"Segoe UI",sans-serif;

}

body{

background:var(--fondo);

padding:40px;

color:var(--texto);

}

header{

background:white;

padding:30px;

border-radius:18px;

max-width:850px;

margin:auto;

box-shadow:

0 8px 30px

rgba(0,0,0,.08);

}

.encabezado{

display:flex;

align-items:center;

justify-content:center;

gap:20px;

}

.logo{

width:100px;

height:100px;

object-fit:cover;

border-radius:18px;

padding:5px;

border:

2px solid

var(--borde);

}

header h1{

font-size:34px;

color:var(--principal);

}

header p{

color:var(--gris);

margin-top:10px;

}

.contenedor{

display:flex;

flex-direction:column;

align-items:center;

gap:30px;

margin-top:30px;

}

form{

background:white;

width:100%;

max-width:850px;

padding:35px;

border-radius:18px;

display:grid;

grid-template-columns:

1fr 1fr;

gap:18px;

box-shadow:

0 8px 25px

rgba(0,0,0,.06);

}

input{

height:52px;

padding:0 16px;

font-size:15px;

border:

1px solid

var(--borde);

border-radius:12px;

}

input:focus{

outline:none;

border-color:

var(--secundario);

box-shadow:

0 0 0 4px

rgba(47,95,184,.15);

}

.botones{

grid-column:1/-1;

display:flex;

gap:12px;

margin-top:10px;

}

button{

height:50px;

flex:1;

border:none;

border-radius:12px;

cursor:pointer;

font-size:15px;

font-weight:600;

}

button:nth-child(1){

background:

var(--guardar);

color:white;

}

button:nth-child(2){

background:#eceff3;

}

button:nth-child(3){

background:

var(--buscar);

color:white;

}

button:hover{

transform:

translateY(-2px);

}

table{

width:100%;

max-width:1100px;

background:white;

border-radius:18px;

overflow:hidden;

border-collapse:collapse;

box-shadow:

0 8px 25px

rgba(0,0,0,.06);

}

thead{

background:

var(--principal);

}

th{

padding:18px;

color:white;

}

td{

padding:16px;

text-align:center;

border-bottom:

1px solid

var(--borde);

}

tbody tr:hover{

background:#f7faff;

}

@media(max-width:768px){

body{

padding:15px;

}

.encabezado{

flex-direction:column;

}

.logo{

width:80px;

height:80px;

}

form{

grid-template-columns:1fr;

padding:20px;

}

.botones{

flex-direction:column;

}

table{

display:block;

overflow-x:auto;

}

}